nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  height: 100vh;
  background-color: #256886;
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  /* overflow: hidden; */
}

.navbar-logo {
  width: 180px;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-bottom: 15px;
}

.nav-item {
  color: white;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
}

.nav-item.active {
  font-weight: bold;
}


.nav-icon {
  width: 25px; 
  height: auto; 
  align-content: center;
  margin-right: 8px; 
}


.user-name {
  font-weight: bold;
  color: white;
}
